@font-face {
  font-family: 'Basier Square';
  src: url('basiersquare-regular-webfont.eot');
  src: url('basiersquare-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('basiersquare-regular-webfont.woff2') format('woff2'),
    url('basiersquare-regular-webfont.woff') format('woff'),
    url('basiersquare-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
