name: build

on:
  push:
    branches:
      # long-lived branches
      - master

  pull_request:
    branches:
      - "*"

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: npm build
      run: |
        npm run build --if-present
      env:
        INFURA_API_KEY: ${{secrets.REACT_APP_INFURA_API_KEY}}
    - name: Test build
      run: npm run test --if-present
    - name: Archive artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build
        path: |
          build
